:root{
    --loko-fotsy: #FFFFFF;
    --rose-fotsy: #F2CEF2;
    --loko-violet: #9E91B7;
    --rose-violet: #DF99F2;
    --manga-violet: #3D2DA6;
    --loko-manga: #07338C;
    --manga-mainty: #021740;
}

@font-face {
    font-family: "Byeno";
    src: url(../Fonts/BEYNO.ttf);
}

@font-face {
    font-family: "Cantarell";
    src: url(../Fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: "Panthera";
    src: url(../Fonts/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: "Wakanda-forever";
    src: url(../Fonts/WakandaForever-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

.louloux a img{
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: -23px;
    background: none;
}

.wawa{
    font-family: "Byeno";
    font-size: 20px;
    font-weight: 50;
    margin-left: 800px;
    padding-top: 30px;
    background: none;
}

.lits-item a{
    text-decoration: none;
    color: var(--loko-fotsy);
    background: none;
}

.lits-item a:hover{
    color: var(--loko-violet);
    text-decoration: underline;
}

.soso{
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

/* Presentement misy soldat sola be */

.presentement h1{
    font-family: "Byeno";
    font-size: 32px;
    color: var(--loko-violet);
    margin-bottom: 100px;
    margin-right: 300px;
    margin-top: 50px;
    text-align: left;
    word-spacing: 5px;
}

.presentement p{
    font-family: "Cantarell";
    font-size: 14px;
    color: var(--loko-fotsy);
    margin-bottom: 10px;
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;   
}

.borilava{
    background-image: url(../Illustrations+Logo/Enigme/Pantherenigme2.png);
    background-size: cover;
    background-position: center;
}

#presentement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
    margin-top: -100px;
}

#presentement img{
    background: none;
    width: 55%;
    height: 100%;
}

.presentement img{
    margin-top: 80px;
}

/*Teny tsy fatatra*/

#kti-kta-kdo{
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

.kti-kta-kdo{
    font-family: "Wakanda-forever";
    font-size: 43px;
    color: var(--loko-violet);
    margin-right: 400px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/*zavatra roa sy telo milahatra*/

.andry{
    display: flex;
    justify-content: space-between;
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
    padding-top: 30px;
    padding-bottom: 50px;
}

.libre{
    font-family: "Cantarell";
    font-size: 14px;
    color: var(--loko-fotsy);
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image: url(../Illustrations+Logo/Enigme/Pantherenigme2.png);
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    
}

/* Footer */

#vody{
    background-image: url(../Illustrations+Logo/All+pages/back_footer.png);
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 500px;
    align-items: center;
}

.tapany-ambany{
    position: relative;
    display: inline-block;
}

.tapany-ambany img{
    position: absolute;
    margin-top: 0px;
    margin-left: 350px;
    transform: translate(-50%, -50%);
}

.foutrage{
    position: absolute;
    top: 15%;
    left: 7%;
    width: 200px;
}

.kaskatoto{
    width: 200px;
    margin-top: 200px;
    margin-left: 300px;
    z-index: 0;
}


.helena{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.politika{
    color: var(--loko-fotsy);
    font-family: "Cantarell";
    font-size: 10px;
    margin-top: 75px;
    margin-right: 350px;
}

.pah{
    color: var(--loko-fotsy);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    margin-top: 75px;
    text-align: left;
}

.pah h3{
    font-family: "Cantarell";
    font-size: 22px;
    letter-spacing: 10px;
    margin-bottom: 30px;
}

.pah a{
    color: var(--loko-fotsy);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Cantarell";
    font-size: 14px;
}

.rohy h3{
    font-family: "Cantarell";
    font-size: 22px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: var(--loko-fotsy);
    margin-right: 100px;
    margin-top: 75px;
}

.reseau-foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.reseau-foot img{
    margin-right: 50px;
}

.reseau-foot img:hover{
    zoom: 110%;
}