:root{
    --loko-fotsy: #FFFFFF;
    --rose-fotsy: #F2CEF2;
    --loko-violet: #9E91B7;
    --rose-violet: #DF99F2;
    --manga-violet: #3D2DA6;
    --loko-manga: #07338C;
    --manga-mainty: #021740;
}