:root{
    --loko-fotsy: #FFFFFF;
    --rose-fotsy: #F2CEF2;
    --loko-violet: #9E91B7;
    --rose-violet: #DF99F2;
    --manga-violet: #3D2DA6;
    --loko-manga: #07338C;
    --manga-mainty: #021740;
}

@font-face {
    font-family: "Byeno";
    src: url(../Fonts/BEYNO.ttf);
}

@font-face {
    font-family: "Cantarell";
    src: url(../Fonts/Cantarell-Regular.ttf);
}

@font-face {
    font-family: "Panthera";
    src: url(../Fonts/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: "Wakanda-forever";
    src: url(../Fonts/WakandaForever-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

.letieee a img{
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: -23px;
    background: none;
}

.awe{
    font-family: "Byeno";
    font-size: 20px;
    font-weight: 50;
    margin-left: 800px;
    padding-top: 30px;
    background: none;
}

.list-item a{
    text-decoration: none;
    color: var(--loko-fotsy);
    background: none;
}

.list-item a:hover{
    color: var(--loko-violet);
    text-decoration: underline;
}

.pejy{
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

/*Réseaux sociaux scroll tsisy miala*/

.tsisy-miala a{
    display: flex;
    justify-content: left;
    position: fixed;
    flex-direction: column;
    align-items: center;
    left: 50px;
    top: 350px;
    background-color: none;
}

.tsisy-miala a img{
    padding: 10px 0; 
}

/*Fametahana tsipika roa tsisy miala*/

.tsipika-lava{
    content: "";
    border-left: 3px solid var(--loko-violet);
    position: fixed;
    top: 0;
    width: 1px;
    height: 83%;
    left: 40px;
}

.tsipika-fohy{
    content: "";
    border-left: 3px solid var(--loko-violet);
    position: fixed;
    top: 0;
    width: 1px;
    height: 55%;
    left: 60px;
}

/*Grand titre BLACK PANTHER Wakanda Forever*/

.textg h1{
    font-family: "Panthera";
    font-size: 68px;
    color: var(--loko-violet);
    margin-bottom: 10px;
}

.textg h2{
    font-family: "Byeno";
    font-size: 32px;
    color: var(--loko-violet);
    margin-bottom: 15px;
    margin-left: 10px;
}

.textg p{
    font-family: "Cantarell";
    font-size: 16px;
    color: var(--loko-fotsy);
    margin-bottom: 10px;
}

.tepoka{
    color: var(--loko-fotsy);
    font-family: "Cantarell";
    font-size: 16px;
}

.titre-be{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    margin-right: -200px;
    width: 100%;
}

#titre-be{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

#titre-be img{
    background: none;
    width: 60%;
    height: 80%;
    margin-left: 100px;
}

/*Kidabo Rastah sy Sola dia Sipakely iray*/

#kidabo{
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

.kidabo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 0px;
    background-image: none;
}

.tepoka{
    color: var(--loko-fotsy);
    font-family: "Cantarell";
    font-size: 16px;
    text-decoration: underline;
}

.rastah, .sola, .sipakely{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.kidabo h2{
    font-family: "Byeno";
    font-size: 32px;
    color: var(--loko-violet);
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 15px;
}

.kidabo p{
    font-family: "Cantarell";
    font-size: 14px;
    color: var(--loko-fotsy);
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.rastah img{
    width: 250px;
    height: 300px;
}

.sola img{
    width: 180px;
    height: 230px;
}

.sipakely img{
    width: 130px;
    height: 230px;
}

.sipakely{
    position: relative;
    display: inline-block;
}

.flesy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.kily{
    background-color: var(--loko-manga);
    height: 230px;
}

.odoye{
    background-color: var(--loko-manga);
    height: 230px;
}

/*Mapifanitsy soratra sy sary bobaka be*/

.soratra-sary{
    display: flex;
    justify-content: space-between;
    background-image: url(../Illustrations+Logo/All+pages/arrière_plan.png);
}

.mickey{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.mickey h2{
    font-family: "Byeno";
    font-size: 32px;
    color: var(--loko-violet);
    margin-bottom: 25px;
}

.mickey p{
    font-family: "Cantarell";
    font-size: 16px;
    color: var(--loko-fotsy);
    margin-top: 30px;
}

.mickey ul li{
    font-family: "Cantarell";
    font-size: 14px;
    color: var(--loko-fotsy);
    list-style: none;
}

.toetra{
    margin-top: 30px;
}

.protector{
    margin-top: 30px;
}

.alika{
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 100px;
    width: 35%;
}

.bandy{
    background-color: var(--loko-fotsy);
    padding-top: -300px;
    padding-bottom: 100px;
    margin-left: 20px;
    border-radius: 2%;
}

.bandy img{
    width: 80%;
    margin-left: 50px;
}

.bandy .tena{
    font-family: "Cantarell";
    font-size: 20px;
    margin-left: 190px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bandy .resaka{
    display: flex;
    justify-content: space-between;
    color: var(--loko-fotsy);
    margin-bottom: 40px;
}

.bandy .resaka p{
    background-color: var(--manga-violet);
    width: 150px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}

.bio p{
    margin-left: 55px;
    margin-bottom: 20px;
    font-family: "Cantarell";
    font-size: 14px;
}

#panavotra{
    margin-top: 300px;
    height: 100%;
}

/*Contact*/

.phone{
    background-image: url(../Illustrations+Logo/Accueil/Pantherhome7.png);
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--loko-fotsy);
    opacity: 0.7;
    border-radius: 120px;
    padding: 20px;
    width: 800px;
    height: 600px;
}

.contact .uir{
    font-family: "Cantarell";
    font-size: 14px;
}

.contact .fifandraisana{
    font-family: "Cantarell";
    font-size: 43px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.tsontsin input{
    width: 500px;
    height: 56px;
    border-radius: 38px;
    margin-bottom: 15px;
}

::placeholder {
    font-family: "Cantarell";
    font-size: 14px;
    padding-left: 10px;
}

.hafatra textarea{
    width: 500px;
    height: 175px;
    border-radius: 38px;
    margin-bottom: 15px;
}

.hafatra textarea[placeholder="Message"] {
    font-family: "Cantarell";
    font-size: 14px;
    padding-left: 5px;
    padding-top: 10px;
}

.asina input{
    width: 175px;
    height: 54px;
    border-radius: 38px;
    background-color: var(--rose-violet);
    font-weight: bold;
    cursor: pointer;
    font-family: "Cantarell";
    font-size: 14px;
}

.asina :hover{
    box-shadow: #021740;
    filter: blur(1px);
    overflow-x: 0;
    overflow-y: 0;
}

/* Footer */

#vody{
    background-image: url(../Illustrations+Logo/All+pages/back_footer.png);
    display: flex;
    justify-content: space-between;
    height: 600px;
    align-items: center;
    /*z-index: 0;*/
    /*margin-top: 100px;*/
}

.tapany-ambany{
    position: relative;
    display: inline-block;
}

.tapany-ambany img{
    position: absolute;
    margin-top: 0px;
    margin-left: 350px;
    transform: translate(-50%, -50%);
}

.foutrage{
    position: absolute;
    top: 15%;
    left: 7%;
    width: 200px;
}

.kaskatoto{
    width: 200px;
    margin-top: 200px;
    margin-left: 300px;
    z-index: 0;
}


.helena{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.politika{
    color: var(--loko-fotsy);
    font-family: "Cantarell";
    font-size: 10px;
    margin-top: 75px;
    margin-right: 350px;
}

.pah{
    color: var(--loko-fotsy);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    margin-top: 75px;
    text-align: left;
}

.pah h3{
    font-family: "Cantarell";
    font-size: 22px;
    letter-spacing: 10px;
    margin-bottom: 30px;
}

.pah a{
    color: var(--loko-fotsy);
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Cantarell";
    font-size: 14px;
}

.rohy h3{
    font-family: "Cantarell";
    font-size: 22px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    color: var(--loko-fotsy);
    margin-right: 100px;
    margin-top: 75px;
}

.reseau-foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.reseau-foot img{
    margin-right: 50px;
}

.reseau-foot img:hover{
    zoom: 110%;
}